Options +FollowSymLinks
RewriteEngine On
RewriteBase /colorart

RewriteRule ^$ pages/homepage.php [L]
RewriteRule ^product(?:/([0-9]+))?$ pages/product.php?id=$1 [L]
RewriteRule ^category(?:/([0-9]+))?$ pages/category.php?id=$1 [L]

RewriteRule ^login$ pages/login.php [L]
RewriteRule ^singin$ pages/singin.php [L]
RewriteRule ^admin$ pages/dashboard.php [L]
RewriteRule ^admin/edit-products$ pages/admin-products.php [L]